.about-big {
  background-image: url("../Images/about-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  max-width: 1600px;
  z-index: -1;
  top: 480px;
  height: 842px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about-small {
  background-color: #D9E9FE;
}
.nav-link {
  color: #ffff !important;
}
@media (max-width: 1200px) {
  .about-big {
    top: 376px;
    height: 800px;
  }
}
@media (max-width: 990px) {
  .about-big {
    top: 259px;
  }
}
.btn-primary {
  background-color: #12204B !important;
  border-color: #12204B !important;
  border-radius: 100px !important;
}
.btn-secondary {
  background-color: #B10028 !important;
  border-color: #B10028 !important;
  border-radius: 100px !important;
}
.cta {
  background: #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 26px;
  padding: 40px;
  margin-top: 30px !important;
  max-width: 336px;
}
.cta p {
  width: 200px;
  margin: 0 auto 30px auto;
  font-weight: 300;
}
.btn {
  padding: 5px 15px !important;
}
.col {
  margin-top: 10px !important;
}
.card {
  background-color: #EDEDED !important;
  border-color: #EDEDED !important;
  border-radius: 15px !important;
}
.card2 {
  border: 1px solid #939393 !important;
  border-radius: 15px !important;
}
.card3 {
  border-color: #D9E9FE !important;
  background-color: #D9E9FE !important;
  border-radius: 30px !important;
}
